{% extends "template-loggedin.html" %}
{% block body %}

<body>

  <h1 class="text-center mt-5">Categories</h1>

<div class="text-center">
  <br>
  {% if categories %}
  {% for category in categories %}
  <a href="/categories/{{category.id}}" class="btn btn-primary mb-2 w-75">{{category.name}}</a>
  {% endfor %}
  {% else %}
  <h2>You currently do not have any categories. To add a category, you can specify a category for any note.</h2>
  {% endif %}
</div>
</body>
{% endblock %}
