{% extends "template-loggedin.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static',filename='style/themes/paper/note_single.css')}}">
<form method="POST">
<div class="container-fluid">
<div class="row">
  <div class="col-12 {% if note %}col-md-9{% endif %}">
  <div class="mt-3 p-3">
    <h1 class="text-center text-sm-left">{% if note %}{{note.title}}{% else %}New Note{% endif %}</h1>
      <div class="form-group">
        {% if not note %}
        <input type="text" name="title" class="form-control mb-2" placeholder="Note Title...">
        <input type="text" name="category" class="form-control mb-2" placeholder="Category">
        {% endif %}
        <textarea class="form-control" id="{% if note %}post-content{% endif %}" name="content" rows="{% if note %}2{% else %}16{% endif %}" {% if note %}onkeyup="textAreaAdjust(this)"{% endif %} placeholder="Note Content...">{% if note and note.content %}{{note.content}}{% endif %}</textarea>
      </div>
      {% if note %}
      {% set time_ago = note.return_time_ago() %}
      <p id="last-updated" class="mt-2">{% if time_ago == "just now" %}<span class="text-success">Note edited just now.</span>{% else %}Note last edited {{time_ago}} ago.{% endif %}</p>
      {% endif %}
      <div class="form-group">
      <input type="submit" name="update_note" class="btn btn-primary w-100 {% if not note %}mt-2{% endif %}" value="{% if note %}Update{% else %}Add{% endif %}">
      </div>
  </div>
  </div>
{% if note %}
<div class="col-12 col-md-3">
<div class="mt-3">
  <h2 class="text-center">Note Settings</h2>
  Title:
  <input type="text" name="title" class="form-control mb-2" placeholder="Note Title..." value="{% if note %}{{note.title}}{% endif %}">
  Categories:
  <input type="text" name="category" class="form-control mb-2" placeholder="Categories" value="{% if note.category %}{{note.category}}{% endif %}">
  Font Size:
  <input type="number" name="custom_font_size" id="custom_font_size" class="form-control mb-2" placeholder="Custom Font Size..." value="{{font_size}}" onchange="changeFontSize()">
  <input type="submit" name="update_note" class="btn btn-primary w-100 mt-2" value="{% if note %}Update{% else %}Add{% endif %}">
  <input type="submit" name="revert_to_last_version" class="btn btn-danger w-100 mt-2" value="Revert To Previous Version">
  <input type="submit" name="delete_note" class="btn btn-danger w-100 mt-2" value="Delete Note">

</div>
<hr class="mt-5 d-sm-none w-100">

</div>
{% endif %}
</div>
</div>
</form>
<script src="{{url_for('static',filename='script/themes/paper/note_single.js')}}"></script>
{% if note %}
<script>

function updateFontSize(){

  fontSize = document.getElementById('custom_font_size').value;

    fetch('/api/save_font_size/' + fontSize)
    .then( response => response.json() )

}

  function checkLastUpdated(){

    fetch('/api/note/check_last_edited/{{note.id}}')
    .then( response => response.json() )
    .then( data =>
    {
      if (data.success == true){
        document.getElementById('last-updated').innerHTML = data.last_updated;
      }
    }
    )

  }

  setInterval(checkLastUpdated,15000);

  setInterval(updateFontSize,15000);

  changeFontSize();

</script>
{% endif %}

{% endblock %}
