# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv/

# Flask & SQLite
instance/
migrations/
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# Misc
ignore/
playground.py
*.log
