{% set font = g.user.get_current_theme_font() %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 

        Notice: This page is a work-in-progress.

        Page still lacks responsivity (currently optimized for laptops and larger screen devices).

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/amazing_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/themes/dash/note_single.css')}}">
    <title>Note Single Full</title>
</head>
<body>
    {% if note %}
    <form method="POST" id="note-delete-form" style="display:none;">
        <input type="submit" id="note-delete-btn" name="delete_note" value="Delete Note">
    </form>
    {% endif %}
    <div id="menu">
        <button class="btn btn-primary" onclick="toggleTitle()">Toggle Title</button>
        <button class="btn btn-primary" onclick="toggleMarkdown()">Toggle Markdown</button>
        <button class="btn btn-primary" onclick="toggleDarkMode()">Toggle Dark Mode</button>
        <button class="btn btn-primary" onclick="toggleNotes()">Toggle Notes</button>
        <button class="btn btn-secondary" onclick="increaseFontSize()">Font +</button>
        <button class="btn btn-secondary" onclick="decreaseFontSize()">Font -</button>
        <button class="btn btn-success" onclick="submitForm()">Save Note</button>
        {% if note %}<button class="btn btn-danger" onclick="deleteNote()">Delete Note</button>{% endif %}
        <button class="btn btn-secondary" onclick="navigateToSettings()">Go To Settings</button>
        <select name="font-select" id="font-select" onchange="changeFont()">
            <option value="monospace" {% if font == "monospace" %}selected{% endif %}>Monospace</option>
            <option value="serif" {% if font == "serif" %}selected{% endif %}>Serif</option>
            <option value="sans-serif" {% if font == "sans-serif" %}selected{% endif %}>Sans Serif</option>
            <option value="Arial, sans-serif" {% if font == "Arial, sans-serif" %}selected{% endif %}>Arial</option>
            <option value="Brush Script MT, cursive" {% if font == "Brush Script MT, cursive" %}selected{% endif %}>Brush Script MT</option>
            <option value="Courier, monospace" {% if font == "Courier, monospace" %}selected{% endif %}>Courier</option>
            <option value="Courier New, monospace" {% if font == "Courier New, monospace" %}selected{% endif %}>Courier New</option>
            <option value="Georgia, serif" {% if font == "Georgia, serif" %}selected{% endif %}>Georgia</option>
            <option value="Ubuntu, sans-serif" {% if font == "Ubuntu, sans-serif" %}selected{% endif %}>Ubuntu</option>
            <option value="Times New Roman, serif" {% if font == "Times New Roman, serif" %}selected{% endif %}>Times New Roman</option>
            <option value="Trebuchet MS, sans-serif" {% if font == "Trebuchet MS, sans-serif" %}selected{% endif %}>Trebuchet MS</option>
        </select>
    </div>
    <div class="main">
    <div id="notes">
        <a href="/note/0/dash" class="note new-note">
            New Note...
        </a>
        {% for nt in g.user.return_notes() %}
        <a class="note {% if note and note.id == nt.id %}current-note{% endif %}" href="/note/{{nt.id}}/dash">
            {{nt.title}}
        </a>
        {% endfor %}
    </div>
    <div id="note-content">
        <form id="note-form" method="POST">
        {% if note %}
        <input type="hidden" name="note_id" value="{{note.id}}">
        {% endif %}
        <input id="title" type="text" placeholder="Note Title..." name="title" {% if note %}value="{{note.title}}"{% endif %}>
        <textarea id="content" placeholder="Note..." name="content" style="font-size: {{font_size}}px;">{% if note %}{{note.content}}{% endif %}</textarea>
        <div id="content-markdown"></div>
        </form>
    </div>
    </div>


    <script src="{{url_for('static',filename='script/themes/dash/note_single.js')}}"></script>

    <script>
        {% if g.user.get_current_theme_dark_mode() == True %}
        toggleDarkMode();
        {% else %}
        darkModeOn = false;
        {% endif %}

        fontPreference = '{{font}}';
        updateFont(fontPreference);
    </script>
</body>
</html>