:root {
    --primary-dark: rgb(25 52 62);
    --primary: rgb(44 95 113);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 600px) {
    body{
        overflow: hidden;
    }
}

#menu{
    display: flex;
    justify-content: center;
    background-color: var(--primary); 
    height: 34px;
    padding: 3px;
}

#notes{
    width: 200px;
    background-color: var(--primary-dark);
    overflow-y: auto;
    height: 100%;
}

.note{
    width: calc(100% - 44px);
    padding: 15px;
    margin: 15px 7px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;
    overflow-x: hidden;
    height: fit-content;
    display: block;
}

.new-note{
    margin-top: 10px;
    background-color: lightblue !important;
}

.current-note{
    background-color: lightpink !important;
}

.main{
    display: flex;
    height: calc(100vh - 40px);
}

#note-content{
    width: calc(100vw - 200px);
    height: calc(100vh - 40px);
    margin: 0px;
}

#content{
    border-style: none;
    border-radius: 0px;
    outline: none;
    resize: none;
    width: calc(100% - 40px);
    padding: 20px;
    height: calc(90vh - 80px);
    margin-top: -1px;
    overflow-y: auto;
}

#content-markdown{
    display: none;
    width: calc(100% - 40px);
    height: calc(90vh - 80px);
    margin: 0px;
    padding: 20px;
    border-style: none;
    border-radius: 0px;
    overflow-y: auto;
}

#title{
    width: calc(100% - 50px);
    height: calc(10vh - 50px);
    margin: 0px;
    padding: 25px;
    border-style: none;
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    font-size: 24px;
    outline: none;
}

.btn{
    border: none;
    margin: 2px 1px;
    padding: 5px;
    border-radius: 3px;
}

.btn:hover{
    cursor: pointer;
}

.btn-menu{
    background-color: rgb(38, 38, 38) !important;
    color: white;
}

.btn-primary{
    background-color: rgb(22, 22, 255);
    color:white;
}
.btn-secondary{
    background-color: gray;
    color:white;
}
.btn-success{
    background-color: green;
    color:white;
}

.btn-danger{
    background-color: red;
    color: white;
}

.callout{
    display: block;
    padding: 20px;
    background-color: lightgray;
    color: black;
}

.code{
    background-color: #bbb;
    color: black;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 3px;
}

/* Scrollbar for Non-Firefox Browsers */
::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background: #a0a0a0; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c; 
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }

@media screen and (max-width: 600px){
    #menu{
        height: fit-content;
        flex-wrap: wrap;
        width: 100vw;
        background-color: lightblue;
    }
    #notes{
        position: fixed;
        width: 100vw;
        display: none;
        z-index: 100;
    }
}

@media screen and (max-width: 500px){
    .hide-mobile{
        display: none;
    }

    #font-select{
        width: 20px;
    }
