<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 

        Notice: This page is a work-in-progress.

        Page Concept:

        The concept with this new "full" note archive file is to complement the new fullscreen note template.
    
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/amazing_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/themes/full/notes.css')}}">
    <link rel="manifest" href="/manifest.json">
    <title>Notes Full</title>
</head>
<body>
        <!-- Mobile Menu Toggle -->
        <div id="mobile-menu-toggle" onclick="toggleMobileMenu()">
            Open Mobile Menu
        </div>

        <!-- Mobile Menu -->
        <div id="mobile-menu">
            <h1>Menu</h1>
            <button class="btn btn-secondary" onclick="increaseRowHeight()">Row Height +</button>
            <button class="btn btn-secondary" onclick="decreaseRowHeight()">Row Height -</button>
            <button class="btn btn-success" onclick="addNewNote()">Add New Note</button>
            <button class="btn btn-primary" onclick="navigateToSettings()">Go To Settings</button>
            <button class="btn btn-primary" onclick="navigateToAllNotes()">Go To All Notes</button>
            <button class="btn btn-secondary" onclick="toggleMobileMenu()">Close Menu</button>
        </div>

    <div class="notes">
    {% for category in categories %}
    <a class="note-div" style="height: 150px;" href="/categories/{{category}}/full">
    <div class="text-center">
        <h2>{{category}}</h2>
    </div>
    </a>
    {% endfor %}
    </div>

    <script src="{{url_for('static',filename='script/themes/full/notes.js')}}"></script>

    <script>
        numberOfRows = {{g.user.get_current_theme_notes_row_count()}};
        rowHeight = {{g.user.get_current_theme_notes_height()}};
        tweakRowHeight();
        tweakRows();
    </script>

</body>
</html>