{% set font = g.user.get_current_theme_font() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 

        Notice: This page is a work-in-progress.

        Page Concept:

        The concept with this new "full" note file is to use key shortcuts for performing actions such as saving or deleting a note, and allowing the user a fullscreen noting experience.
        On mobile, there can be a floating button on the bottom right or a topbar to access the menu with performing actions, since the keyboard of a mobile phone may be restrictive (i.e. no "Ctrl" key).
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/amazing_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/themes/full/note_single.css')}}">
    <link rel="manifest" href="/manifest.json">
    <title>Note Single Full</title>
</head>
<body>
    <!-- Mobile Menu Toggle -->
    <div id="mobile-menu-toggle" onclick="toggleMobileMenu()">
        Open Mobile Menu
    </div>
    {% if note %}
    <form method="POST" id="note-actions-form" style="display:none;">
        <input type="submit" id="note-delete-btn" name="delete_note" value="Delete Note">
        <input type="submit" id="note-revert-btn" name="revert_to_last_version" value="Revert To Last Version">
    </form>
    {% endif %}
    <form id="note-form" method="POST">
    {% if note %}
    <input type="hidden" name="note_id" value="{{note.id}}">
    {% endif %}
    <input type="hidden" name="category" id="category" {% if note.category %}value="{{note.category}}"{% endif %}>
    <input id="title" type="text" placeholder="Note Title..." name="title" {% if note and note.title %}value="{{note.title}}"{% endif %}>
    <textarea id="content" placeholder="Note..." name="content" style="font-size: {{font_size}}px;">{% if note and note.content %}{{note.content}}{% endif %}</textarea>
    <div id="content-markdown"></div>
    <input type="submit" id="note-form-submit" name="update-note" style="display:none;">
    </form>


    <!-- Mobile Menu -->
    <div id="mobile-menu">

        <h1>Menu</h1>
        <button class="btn btn-primary" onclick="toggleTitle()">Toggle Title</button>
        <button class="btn btn-primary" onclick="toggleMarkdown()">Toggle Markdown</button>
        <button class="btn btn-primary" onclick="toggleDarkMode()">Toggle Dark Mode</button>
        <select name="font-select" id="font-select">
            <option value="monospace" {% if font == "monospace" %}selected{% endif %}>Monospace</option>
            <option value="serif" {% if font == "serif" %}selected{% endif %}>Serif</option>
            <option value="sans-serif" {% if font == "sans-serif" %}selected{% endif %}>Sans Serif</option>
            <option value="Arial, sans-serif" {% if font == "Arial, sans-serif" %}selected{% endif %}>Arial</option>
            <option value="Brush Script MT, cursive" {% if font == "Brush Script MT, cursive" %}selected{% endif %}>Brush Script MT</option>
            <option value="Courier, monospace" {% if font == "Courier, monospace" %}selected{% endif %}>Courier</option>
            <option value="Courier New, monospace" {% if font == "Courier New, monospace" %}selected{% endif %}>Courier New</option>
            <option value="Georgia, serif" {% if font == "Georgia, serif" %}selected{% endif %}>Georgia</option>
            <option value="Ubuntu, sans-serif" {% if font == "Ubuntu, sans-serif" %}selected{% endif %}>Ubuntu</option>
            <option value="Times New Roman, serif" {% if font == "Times New Roman, serif" %}selected{% endif %}>Times New Roman</option>
            <option value="Trebuchet MS, sans-serif" {% if font == "Trebuchet MS, sans-serif" %}selected{% endif %}>Trebuchet MS</option>
        </select>
        <input id="categories-input" class="categories-input" placeholder="Categories..." onchange="syncCategory()" {% if note.category %}value="{{note.category}}"{% endif %}>
        <button class="btn btn-secondary" onclick="increaseFontSize()">Font +</button>
        <button class="btn btn-secondary" onclick="decreaseFontSize()">Font -</button>
        <button class="btn btn-success" onclick="revertToLastVersion()">Restore Last Save of Note</button>
        <button class="btn btn-success" onclick="submitForm()">Save Note</button>
        <button class="btn btn-danger" onclick="deleteNote()">Delete Note</button>
        <button class="btn btn-primary" onclick="addNewNote()">Add New Note</button>
        <button class="btn btn-primary" onclick="navigateToNotes()">Go To Notes</button>
        <button class="btn btn-primary" onclick="navigateToCategories()">Go To Categories</button>
        <button class="btn btn-primary" onclick="navigateToSettings()">Go To Settings</button>
        <button class="btn btn-secondary" onclick="toggleMobileMenu()">Close Menu</button>
        
    </div>

    <script src="{{url_for('static',filename='script/themes/full/note_single.js')}}"></script>

    <script>
        {% if g.user.get_current_theme_dark_mode() == True %}
        toggleDarkMode();
        {% else %}
        darkModeOn = false;
        {% endif %}
        fontPreference = '{{font}}';
        updateFont(fontPreference);
    </script>
</body>
</html>
