<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 

        Notice: This page is a work-in-progress.

        Page Concept:

        The concept with this new "full" note archive file is to complement the new fullscreen note template.
    
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/amazing_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/themes/full/notes.css')}}">
    <title>Notes Full</title>
</head>
<body>
    <div class="notes">
    {% for note in g.user.return_notes() %}
    <a class="note-div" style="height: 150px;" href="/note/{{note.id}}/fullscreen">
    <div class="text-center">
        <h2>{{note.title}}</h2>
        {{note.return_description()}}
    </div>
    </a>
    {% endfor %}
    </div>

    <script src="{{url_for('static',filename='script/themes/full/notes.js')}}"></script>

    <script>
        numberOfRows = {{g.user.get_current_theme_notes_row_count()}};
        tweakRows();
    </script>

</body>
</html>