body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
.notes{
    display: flex;
    flex-wrap: wrap;
}
.note-div{
    display: flex;
    width: calc(33.33% - 40px);
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(28, 28, 28);
    padding: 20px;
}

.note-div > div{
    overflow-wrap: anywhere;
}

.add-new-note{
    display:none;
}

@media screen and (max-width: 600px) {
    .note-div{
        width: calc(100% - 20px);
        padding: 10px;
    }

    .add-new-note{
        display: flex;
    }

    .add-new-note-text{
        font-weight: 100;
    }
}
.note-div:nth-child(2n+1){
    background-color: rgb(28, 28, 28);
    color: white;
}
.text-center{
    text-align: center;
}

/* Scrollbar for Non-Firefox Browsers */
::-webkit-scrollbar {
    width: 9px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a0a0a0; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c; 
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }

.btn{
    border: none;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    width: calc(100% - 10px);
}

.btn:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(22, 22, 255);
    color:white;
}
.btn-secondary{
    background-color: gray;
    color:white;
}
.btn-success{
    background-color: green;
    color:white;
}

.btn-danger{
    background-color: red;
    color: white;
}

  #mobile-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
    color: white;
    justify-content: center;
    display: none;
    flex-wrap: wrap;
    align-content: center;
}


#mobile-menu-toggle{
    display: none;
    text-align: center;
    width: calc(100% - 6px);
    top: 0px;
    left: 0px;
    height: 20px;
    background-color: white;
    color:black;
    padding: 3px;
}

@media screen and (max-width: 600px){
    #mobile-menu-toggle{
        display: block;
    }
    #content{
        height: calc(90vh - 76px);
    }
    #content-markdown{
        height: calc(90vh - 76px);
    }
}
