
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flasky Agenda</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/static/images/amazing_logo.png"> 
    <link rel="apple-touch-icon" href="/static/images/amazing_logo.png" sizes="180x180">
    <link rel="icon" href="/static/images/amazing_logo.png">

  <link rel="manifest" href="/manifest.json">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body.light-mode {
      background-color: #f8f9fa;
      color: #212529;
    }
    body.dark-mode {
      background-color: #212529;
      color: #f8f9fa;
    }
    .sidebar {
      min-height: 100vh;
      padding-top: 1rem;
      background-color: #343a40;
      color: white;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.75rem 1rem;
      border-radius: 0.25rem;
    }
    .sidebar a:hover {
      background-color: #495057;
    }
    span.completed {
      text-decoration: line-through;
      color: gray;
    }

    @media screen and (max-width: 768px) {
      .sidebar {
        height: auto;
        padding-bottom: 10px;
      }
    }

  </style>
</head>
<body class="light-mode">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="d-flex d-md-block justify-content-between align-items-center">
          <h2 class="mx-0 mb-2 w-md-100 text-center">Agenda</h2>
          <button class="btn btn-sm d-md-none btn-outline-light" onclick="toggleMobileMenu()">☰</button>
        </div>
        <div id="collapsable-menu">
            <a href="/notes" class="text-center">Notes</a>
            <a href="/note/0" class="text-center">New Note</a>
            <a href="/search" class="text-center">Search Notes</a>
            <a href="/settings" class="text-center">Settings</a>
            <hr>
            <h5 class="text-center">Actions</h5>
            <a href="javascript:void(0)" class="text-center" onclick="toggleDarkMode()">Toggle Dark/Light Mode</a>
            <a href="javascript:void(0)" class="text-center" onclick="showArchivedTodosModal()">Show Archived To-Dos</a>
            <hr>
            <h5 class="text-center">Latest Notes</h5>
            {% for note in g.user.return_notes(3) %}
            <a href="/note/{{ note.id }}" class="text-center">{{ note.title }}</a>
            {% endfor %}
            <hr>
            <a href="/logout" class="text-center">Logout</a>
        </div>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 col-lg-10 ms-sm-auto px-md-3 p-0">
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-lg-6">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">To-Do List</h5>
                <button class="btn btn-sm btn-primary" onclick="showAddTodoModal()">Add To-Do</button>
              </div>
              <ul class="list-group" id="todo-list">
                {% for todo in todos %}
                <li class="list-group-item d-sm-flex justify-content-between align-items-center todo-item">
                  <div>
                      <input type="checkbox" class="form-check-input me-2 todo-checkbox" {% if todo.completed %}checked{% endif %} onclick="toggleTodoItem(event)" />
                      <span data-todo-id="{{ todo.id }}" class="todo-item-info{% if todo.completed %} completed{% endif %}" onclick="showTodoDetailsModal({{ todo.id }})">{{ '💭 ' if todo.has_content() }}{{ todo.title }} {% if todo.date_due %}<small class="badge text-bg-{{ todo.get_due_css_class() }}">⌛{{ todo.get_time_until_due() }}</small>{% endif %}</span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                      <button class="btn btn-sm btn-outline-warning archive-btn w-100" data-todo-id="{{ todo.id }}" onclick="archiveTodo(event)">🗃️</button>
                      <button class="btn btn-sm btn-outline-danger archive-btn w-100" data-todo-id="{{ todo.id }}" onclick="deleteTodoFromEvent(event)">🗑️</button>
                  </div>
                </li>
                {% endfor %}
                
                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 col-sm-9 mb-2 mb-sm-0">
                      <input type="text" class="form-control form-control-sm" name="new-todo" id="new-todo" value="" placeholder="New todo...">
                      </div>
                      <div class="col-12 col-sm-3">
                      <button class="btn btn-sm btn-primary w-100" onclick="quickAddTodo()">Add</button>
                      </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">Upcoming Events</h5>
                <button class="btn btn-sm btn-primary" onclick="showAddEventModal()">Add Event</button>
              </div>
              <ul class="list-group" id="event-list">
                {% for event in events %}
                <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                  <div>
                      <span data-event-id="{{ event.id }}" onclick="showEventDetailsModal({{ event.id }})">{{ '💭 ' if event.has_content() }}{{ event.title }} {% if event.date_of_event %}<small class="badge text-bg-{{ event.get_event_css_class() }}">⌛ {{ event.get_time_until_event() }}</small>{% endif %}</span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                      <button data-event-id="{{ event.id }}" class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteEventFromEvent(event)">🗑️</button>
                  </div>
                </li>
                {% endfor %}
                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 col-sm-9 mb-2 mb-sm-0">
                          <input type="text" class="form-control form-control-sm" name="new-event" id="new-event" value="" placeholder="New event...">
                      </div>
                      <div class="col-12 col-sm-3">
                      <button class="btn btn-sm btn-primary w-100" onclick="quickAddEvent()">Add</button>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row my-4">
            <div class="col">
              <h5>Notes</h5>
              <textarea id="agenda-notes" class="form-control" rows="7" placeholder="Write your notes here...">{{ g.user.agenda_notes.content if g.user.agenda_notes and g.user.agenda_notes.content }}</textarea>
              <button id="save-notes-btn" class="btn btn-primary w-100 mt-2" onclick="saveNotes()">Save Notes</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Modals -->
  <div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTodoModalLabel">Add To-Do</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="To-Do Item..." />
          <input type="date" class="form-control mt-2" />
          <textarea class="form-control mt-2" rows="5" placeholder="Todo details..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addTodoFromModal()">Add To-Do</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Event Title..." />
          <input type="date" class="form-control mt-2" />
          <textarea class="form-control mt-2" rows="5" placeholder="Event details..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addEventFromModal()">Add Event</button>
        </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="archivedTodosModal" tabindex="-1" aria-labelledby="archivedTodosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="archivedTodosModalLabel">Archived To-Dos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group" id="archivedTodosList">
            </ul>
            <button class="btn btn-primary w-100 mt-2" onclick="loadMoreArchivedTodos()">Load More</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="todoDetailsModal" tabindex="-1" aria-labelledby="todoDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="todoDetailsModalLabel">To-Do Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" value="To-Do Item with a deadline" />
            <input type="date" class="form-control mt-2" />
            <textarea class="form-control mt-2" rows="5">This is a to-do item with a deadline.</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="saveTodoFromModal()">Save</button>
        </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventDetailsModalLabel">Event Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" value="Event with a deadline" />
            <input type="date" class="form-control mt-2" />
            <textarea class="form-control mt-2" rows="5">This is an event with a deadline.</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="saveEventFromModal()">Save</button>
        </div>
        </div>
    </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>

    {% if g.user.get_theme_settings().dark_mode %}
    toggleDarkMode();
    {% endif %}

    // modal
    var addTodoModal = new bootstrap.Modal(document.getElementById('addTodoModal'), {
      keyboard: false
    });

    var addEventModal = new bootstrap.Modal(document.getElementById('addEventModal'), {
      keyboard: false
    });

    var archivedTodosModal = new bootstrap.Modal(document.getElementById('archivedTodosModal'), {
      keyboard: false
    });

    var todoDetailsModal = new bootstrap.Modal(document.getElementById('todoDetailsModal'), {
      keyboard: false
    });

    var eventDetailsModal = new bootstrap.Modal(document.getElementById('eventDetailsModal'), {
      keyboard: false
    });

    function toggleMobileMenu() {
        document.querySelector('#collapsable-menu').style.display == 'none' ? document.querySelector('#collapsable-menu').style.display = 'block' : document.querySelector('#collapsable-menu').style.display = 'none'
    }

    function toggleTodoItem(event) {
      const listItem = event.target.closest('.todo-item').querySelector('span');
        listItem.classList.toggle('completed', event.target.checked);
        fetch('/api/toggle_todo', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            toDoId: listItem.dataset.todoId
        })
        })
    }

    function toggleDarkMode() {
      if (document.body.classList.contains('dark-mode')) {
        fetch('/api/save_dark_mode/0')
        document.body.classList.remove('dark-mode');
        document.querySelectorAll('.modal-title').forEach(title => title.classList.remove('text-dark'));
      } else {
        fetch('/api/save_dark_mode/1')
        document.body.classList.add('dark-mode');
        document.querySelectorAll('.modal-title').forEach(title => title.classList.add('text-dark'));
      }
    }

    function showArchivedTodosModal() {
        archivedTodosModal.show();
        fetch('/api/get_todos?archived=true')
        .then(response => response.json())
        .then(data => {
            const archivedTodosList = document.getElementById('archivedTodosList');
            archivedTodosList.innerHTML = '';
            data.forEach(todo => {
                const todoDOM = bakeTodoDOM(todo);
                archivedTodosList.appendChild(todoDOM);
            });
        });

    }

    function showAddTodoModal() {
        addTodoModal.show();
    }

    function showAddEventModal() {
        addEventModal.show();
    }

    function showTodoDetailsModal(id) {
        todoDetailsModal.show();
        fetch('/api/get_todo/' + id)
        .then(response => response.json())
        .then(data => {
            document.getElementById('todoDetailsModalLabel').innerText = data.todo.title;
            document.getElementById('todoDetailsModalLabel').dataset.todoId = data.todo.id;
            document.getElementById('todoDetailsModalLabel').dataset.todoArchived = data.todo.archived;
            document.querySelector('#todoDetailsModal input[type="text"]').value = data.todo.title;
            if (data.todo.date_due === null) {
                document.querySelector('#todoDetailsModal input[type="date"]').value = '';
            } else {
                document.querySelector('#todoDetailsModal input[type="date"]').value = new Date(data.todo.date_due).toISOString().split('T')[0];
            }
            document.querySelector('#todoDetailsModal textarea').value = data.todo.content;
        });
    }

    function showEventDetailsModal(id) {
        eventDetailsModal.show();
        fetch('/api/get_event/' + id)
        .then(response => response.json())
        .then(data => {
            document.getElementById('eventDetailsModalLabel').innerText = data.event.title;
            document.getElementById('eventDetailsModalLabel').dataset.eventId = data.event.id;
            document.querySelector('#eventDetailsModal input[type="text"]').value = data.event.title;
            if (data.event.date_of_event === null) {
                document.querySelector('#eventDetailsModal input[type="date"]').value = '';
            } else {
                document.querySelector('#eventDetailsModal input[type="date"]').value = new Date(data.event.date_of_event).toISOString().split('T')[0];
            }
            document.querySelector('#eventDetailsModal textarea').value = data.event.content;
        });
    }

    function archiveTodo(event) {
        fetch('/api/archive_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                toDoId: event.target.dataset.todoId
            })
        })
        .then(response => response.json())
        .then(data => {
            event.target.closest('.list-group-item').remove();
        });
    }

    function unarchiveTodo(id) {
        fetch('/api/unarchive_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                toDoId: id
            })
        })
        .then(response => response.json())
        .then(data => {
            // add to-do back to list
            const todoList = document.getElementById('todo-list');
            const todoDOM = bakeTodoDOM(data.todo);
            todoList.insertBefore(todoDOM, todoList.childNodes[todoList.childNodes.length - 2]);
            archivedTodosModal.hide();
        });
    }

    function deleteTodo(id) {
        fetch('/api/delete_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                toDoId: id 
            })
        })
    }

    function deleteTodoFromEvent(event) {
        deleteTodo(event.target.dataset.todoId);
        event.target.closest('.list-group-item').remove();
    }

    function deleteEventFromEvent(event) {
        deleteEvent(event.target.dataset.eventId);
        event.target.closest('.list-group-item').remove();
    }

    function deleteEvent(id) {
        fetch('/api/delete_event', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                eventId: id
            })
        })
    }

    function saveTodoFromModal() {
        const todoId = document.getElementById('todoDetailsModalLabel').dataset.todoId;
        const todoTitle = document.querySelector('#todoDetailsModal input[type="text"]').value;
        const todoDate = document.querySelector('#todoDetailsModal input[type="date"]').value;
        const todoContent = document.querySelector('#todoDetailsModal textarea').value;
        fetch('/api/edit_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                toDoId: todoId,
                title: todoTitle,
                content: todoContent,
                dateDue: todoDate
            })
        })
        .then(response => response.json())
        .then(data => {
            const todoItem = document.querySelector(`span[data-todo-id="${todoId}"]`);
            if (todoContent) {
                todoItem.innerText = '💭 ';
            } else {
                todoItem.innerText = '';
            }
            todoItem.innerText += todoTitle;
            if (todoDate) {
                todoItem.innerHTML += ` <small class="badge text-bg-${data.todo.due_css_class}">⌛${data.todo.time_until_due}</small>`;
            }
            todoDetailsModal.hide();
        });
    }

    function saveEventFromModal() {
        const eventId = document.getElementById('eventDetailsModalLabel').dataset.eventId;
        const eventTitle = document.querySelector('#eventDetailsModal input[type="text"]').value;
        const eventDate = document.querySelector('#eventDetailsModal input[type="date"]').value;
        const eventContent = document.querySelector('#eventDetailsModal textarea').value;
        fetch('/api/edit_event', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                eventId: eventId,
                title: eventTitle,
                content: eventContent,
                dateOfEvent: eventDate
            })
        })
        .then(response => response.json())
        .then(data => {
            const eventItem = document.querySelector(`span[data-event-id="${eventId}"]`);
            if (eventContent) {
                eventItem.innerText = '💭 ';
            } else {
                eventItem.innerText = '';
            }
            eventItem.innerText += eventTitle;
            if (eventDate) {
                eventItem.innerHTML += `<small class="badge text-bg-${data.event.event_css_class}">⌛${data.event.time_until_event}</small>`;
            }
            eventDetailsModal.hide();
        });
    }

    function bakeTodoDOM(todo) {
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'd-sm-flex', 'justify-content-between', 'align-items-center', 'todo-item');
        listItem.innerHTML = `
            <div>
            <input type="checkbox" class="form-check-input me-2 todo-checkbox" ${todo.completed ? 'checked' : ''} onclick="toggleTodoItem(event)"/>
                    <span data-todo-id="${todo.id}" class="todo-item-info${todo.completed ? ' completed' : ''}" onclick="showTodoDetailsModal(${todo.id})">${todo.has_content ? '💭 ' : ''}${todo.title} ${todo.time_until_due ? `<small class="badge text-bg-${todo.due_css_class}">⌛${todo.time_until_due}</small>` : ''}</span>
            </div>
            `;
        if (todo.archived) {
            listItem.innerHTML += `
                <div>
                    <button class="btn btn-sm btn-outline-success" onclick="unarchiveTodo(${todo.id})">↩️</button>
                    <button data-todo-id="${todo.id}" class="btn btn-sm btn-outline-danger" onclick="deleteTodoFromEvent(event)">🗑️</button>
                </div>
            `;
        } else {
            listItem.innerHTML += `
                <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                    <button class="btn btn-sm btn-outline-warning archive-btn w-100" data-todo-id="${todo.id}" onclick="archiveTodo(event)">🗃️</button>
                    <button class="btn btn-sm btn-outline-danger archive-btn w-100" data-todo-id="${todo.id}" onclick="deleteTodoFromEvent(event)">🗑️</button>
                </div>
            `;
        }
        return listItem;
    }

    function addTodoFromModal() {
        const newTodoTitle = document.querySelector('#addTodoModal input[type="text"]').value;
        const newTodoDate = document.querySelector('#addTodoModal input[type="date"]').value;
        const newTodoContent = document.querySelector('#addTodoModal textarea').value;
        fetch('/api/add_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: newTodoTitle,
                content: newTodoContent,
                dateDue: newTodoDate
            })
        })
        .then(response => response.json())
        .then(data => {
            const todoList = document.getElementById('todo-list');
            const todoDOM = bakeTodoDOM(data.todo);
            todoList.insertBefore(todoDOM, todoList.childNodes[todoList.childNodes.length - 2]);
        });
        addTodoModal.hide();
    }

    function addEventFromModal() {
        const newEventTitle = document.querySelector('#addEventModal input[type="text"]').value;
        const newEventDate = document.querySelector('#addEventModal input[type="date"]').value;
        const newEventContent = document.querySelector('#addEventModal textarea').value;
        fetch('/api/add_event', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: newEventTitle,
                content: newEventContent,
                dateOfEvent: newEventDate
            })
        })
        .then(response => response.json())
        .then(data => {
            const eventList = document.getElementById('event-list');
            const eventDOM = bakeEventDOM(data.event);
            eventList.insertBefore(eventDOM, eventList.childNodes[eventList.childNodes.length - 2]);
        });
        addEventModal.hide();
    }

    function quickAddTodo() {
        const newTodo = document.getElementById('new-todo').value;
        if (!newTodo || newTodo.trim() === '' || newTodo.length < 2) {
            alert('Please enter a valid to-do item.');
            return;
        }
        fetch('/api/add_todo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: document.getElementById('new-todo').value,
                content: '',
                dateDue: '',
            })
        })
        .then(response => response.json())
        .then(data => {
            const todoList = document.getElementById('todo-list');
            const todoDOM = bakeTodoDOM(data.todo);
            todoList.insertBefore(todoDOM, todoList.childNodes[todoList.childNodes.length - 2]);
            document.getElementById('new-todo').value = '';
        });
    }

    function bakeEventDOM(event) {
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'd-sm-flex', 'justify-content-between', 'align-items-center');
        listItem.innerHTML = `
            <div>
            <span onclick="showEventDetailsModal(${event.id})">${event.has_content ? '💭 ' : ''} ${event.title} ${event.time_until_event ? `<small class="badge text-bg-${event.event_css_class}">⌛${event.time_until_event}</small>` : ''}</span>
            </div>
            <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                <button data-event-id="${event.id}" class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteEventFromEvent(event)">🗑️</button>
            </div>
        `;
        return listItem;
    }

    function quickAddEvent() {
        const newEvent = document.getElementById('new-event').value;
        if (!newEvent || newEvent.trim() === '' || newEvent.length < 2) {
            alert('Please enter a valid event.');
            return;
        }
        fetch('/api/add_event', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: newEvent,
                content: '',
                dateOfEvent: '',
            })
        })
        .then(response => response.json())
        .then(data => {
            const eventList = document.getElementById('event-list');
            const eventDOM = bakeEventDOM(data.event);
            eventList.insertBefore(eventDOM, eventList.childNodes[eventList.childNodes.length - 2]);
            document.getElementById('new-event').value = '';
        });
    }

    function saveNotes() {
        document.getElementById('save-notes-btn').disabled = true;
        document.getElementById('save-notes-btn').innerText = 'Saving...';
        fetch('/api/save_agenda_notes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                content: document.querySelector('#agenda-notes').value
            })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('save-notes-btn').innerText = 'Saved!';
            setTimeout(() => {
                document.getElementById('save-notes-btn').disabled = false;
                document.getElementById('save-notes-btn').innerText = 'Save Notes';
            }, 2500);
        });
    }

  </script>
</body>
</html>

