
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body.light-mode {
      background-color: #f8f9fa;
      color: #212529;
    }
    body.dark-mode {
      background-color: #212529;
      color: #f8f9fa;
    }
    .sidebar {
      height: 100vh;
      padding-top: 1rem;
      background-color: #343a40;
      color: white;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.75rem 1rem;
      border-radius: 0.25rem;
    }
    .sidebar a:hover {
      background-color: #495057;
    }
    span.completed {
      text-decoration: line-through;
      color: gray;
    }

    @media screen and (max-width: 768px) {
      .sidebar {
        height: auto;
        padding-bottom: 10px;
      }
    }

  </style>
</head>
<body class="light-mode">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0">Agenda</h3>
          <button class="btn btn-sm d-md-none btn-outline-light" onclick="document.querySelector('#collapsable-menu').style.display == 'none' ? document.querySelector('#collapsable-menu').style.display = 'block' : document.querySelector('#collapsable-menu').style.display = 'none'">☰</button>
        </div>
        <div id="collapsable-menu">
            <a href="/notes" class="text-center">Notes</a>
            <a href="/search" class="text-center">Search</a>
            <a href="/settings" class="text-center">Settings</a>
            <hr>
            <a href="javascript:void(0)" class="text-center" onclick="toggleDarkMode()">Toggle Dark/Light Mode</a>
            <a href="javascript:void(0)" class="text-center" onclick="showArchivedTodosModal()">Show Archived To-Dos</a>
            <hr>
            <a href="/logout" class="text-center">Logout</a>
        </div>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 col-lg-10 ms-sm-auto px-md-3 p-0">
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-lg-6">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">To-Do List</h5>
                <button class="btn btn-sm btn-primary" onclick="showAddToDoModal()">Add To-Do</button>
              </div>
              <ul class="list-group" id="todo-list">
                <li class="list-group-item d-sm-flex justify-content-between align-items-center todo-item">
                  <div>
                    <input type="checkbox" class="form-check-input me-2 todo-checkbox" />
                    <span>To-Do Item with a deadline <small class="badge text-bg-primary">⌛ 9 days</small></span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                  <button class="btn btn-sm btn-outline-warning archive-btn w-100" onclick="archiveTodo(event)">🗃️</button>
                  <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteTodo(event)">🗑️</button>
                  </div>
                </li>
                <li class="list-group-item d-sm-flex justify-content-between align-items-center todo-item">
                  <div>
                    <input type="checkbox" class="form-check-input me-2 todo-checkbox" />
                    <span>To-Do Item without a deadline </span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                  <button class="btn btn-sm btn-outline-warning archive-btn w-100" onclick="archiveTodo(event)">🗃️</button>
                  <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteTodo(event)">🗑️</button>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 col-sm-9 mb-2 mb-sm-0">
                      <input type="text" class="form-control form-control-sm" name="new-todo" id="new-todo" value="" placeholder="New todo...">
                      </div>
                      <div class="col-12 col-sm-3">
                      <button class="btn btn-sm btn-primary w-100" onclick="quickAddToDo()">Add</button>
                      </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">Upcoming Events</h5>
                <button class="btn btn-sm btn-primary" onclick="showAddEventModal()">Add Event</button>
              </div>
              <ul class="list-group" id="event-list">
                <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                  <div>
                    <span>Event with a deadline <small class="badge text-bg-primary">⌛ 4 days</small></span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                  <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteEvent(event)">🗑️</button>
                  </div>
                </li>
                <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                  <div>
                    <span>Event without a date </span>
                  </div>
                  <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                  <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteEvent(event)">🗑️</button>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 col-sm-9 mb-2 mb-sm-0">
                          <input type="text" class="form-control form-control-sm" name="new-event" id="new-event" value="" placeholder="New event...">
                      </div>
                      <div class="col-12 col-sm-3">
                      <button class="btn btn-sm btn-primary w-100" onclick="quickAddEvent()">Add</button>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row my-4">
            <div class="col">
              <h5>Notes</h5>
              <textarea class="form-control" rows="6" placeholder="Write your notes here..."></textarea>
              <button id="save-notes-btn" class="btn btn-primary w-100 mt-2" onclick="saveNotes()">Save Notes</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Modals -->
  <div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTodoModalLabel">Add To-Do</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="To-Do Item..." />
          <input type="date" class="form-control mt-2" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add To-Do</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Event Title..." />
          <input type="date" class="form-control mt-2" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Event</button>
        </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="archivedTodosModal" tabindex="-1" aria-labelledby="archivedTodosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="archivedTodosModalLabel">Archived To-Dos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Archived To-Do with a deadline <small class="badge text-bg-primary">⌛ 9 days</small></span>
              <button class="btn btn-sm btn-outline-success">↩️</button>
              <button class="btn btn-sm btn-outline-danger">🗑️</button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Archived To-Do without a deadline </span>
              <button class="btn btn-sm btn-outline-success">↩️</button>
              <button class="btn btn-sm btn-outline-danger">🗑️</button>
            </ul>
            <button class="btn btn-primary w-100 mt-2" onclick="loadMoreArchivedTodos()">Load More</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>

    // modal
    var addTodoModal = new bootstrap.Modal(document.getElementById('addTodoModal'), {
      keyboard: false
    });

    var addEventModal = new bootstrap.Modal(document.getElementById('addEventModal'), {
      keyboard: false
    });

    var archivedTodosModal = new bootstrap.Modal(document.getElementById('archivedTodosModal'), {
      keyboard: false
    });

    document.querySelectorAll('.todo-checkbox').forEach(checkbox => {
      checkbox.addEventListener('change', (event) => {
        const listItem = event.target.closest('.todo-item').querySelector('span');
        listItem.classList.toggle('completed', event.target.checked);
      });
    });

    document.querySelectorAll('.archive-btn').forEach(button => {
      button.addEventListener('click', (event) => {
        const listItem = event.target.closest('.list-group-item');
        listItem.remove();
      });
    });

    function toggleDarkMode() {
      document.body.classList.toggle('dark-mode');
    }

    function showArchivedTodosModal() {
        archivedTodosModal.show();
    }

    function showAddToDoModal() {
        addTodoModal.show();
    }

    function showAddEventModal() {
        addEventModal.show();
    }

    function archiveTodo(event) {
        const listItem = event.target.closest('.list-group-item');
        listItem.remove();
    }

    function deleteTodo() {
        const listItem = event.target.closest('.list-group-item');
        listItem.remove();
    }

    function deleteEvent() {
        const listItem = event.target.closest('.list-group-item');
        listItem.remove();
    }

    function quickAddToDo() {
        const newTodo = document.getElementById('new-todo').value;
        if (!newTodo || newTodo.trim() === '' || newTodo.length < 2) {
            alert('Please enter a valid to-do item.');
            return;
        }
        const todoList = document.getElementById('todo-list');
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'd-sm-flex', 'justify-content-between', 'align-items-center', 'todo-item');
        listItem.innerHTML = `
            <div>
                <input type="checkbox" class="form-check-input me-2 todo-checkbox" />
                <span>${newTodo}</span>
            </div>
            <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                <button class="btn btn-sm btn-outline-warning archive-btn w-100" onclick="archiveTodo(event)">🗃️</button>
                <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteTodo(event)">🗑️</button>
            </div>
        `;
        todoList.insertBefore(listItem, todoList.childNodes[todoList.childNodes.length - 2]);
        document.getElementById('new-todo').value = '';
    }

    function quickAddEvent() {
        const newEvent = document.getElementById('new-event').value;
        const eventList = document.getElementById('event-list');
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'd-sm-flex', 'justify-content-between', 'align-items-center');
        listItem.innerHTML = `
            <div>
                <span>${newEvent}</span>
            </div>
            <div class="mt-2 mt-sm-0 gap-1 d-none d-sm-flex">
                <button class="btn btn-sm btn-outline-danger archive-btn w-100" onclick="deleteEvent(event)">🗑️</button>
            </div>
        `;
        eventList.insertBefore(listItem, eventList.childNodes[eventList.childNodes.length - 2]);
        document.getElementById('new-event').value = '';
    }

    function saveNotes() {
        // to be integrated with backend
        document.getElementById('save-notes-btn').disabled = true;
        document.getElementById('save-notes-btn').innerText = 'Saving...';
        setTimeout(() => {
            document.getElementById('save-notes-btn').disabled = true;
            document.getElementById('save-notes-btn').innerText = 'Saved!';
        }, 1000);
        setTimeout(() => {
            document.getElementById('save-notes-btn').disabled = false;
            document.getElementById('save-notes-btn').innerText = 'Save Notes';
        }, 2500);
    }



  </script>
</body>
</html>

