<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 

        Notice: This page is a work-in-progress.

        Page Concept:

        The concept with this new "full" note file is to use key shortcuts for performing actions such as saving or deleting a note, and allowing the user a fullscreen noting experience.
        On mobile, there can be a floating button on the bottom right or a topbar to access the menu with performing actions, since the keyboard of a mobile phone may be restrictive (i.e. no "Ctrl" key).
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/amazing_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/note_single_full.css')}}">
    <title>Note Single Full</title>
</head>
<body>
    <form id="note-form" method="POST">
    {% if note %}
    <input type="hidden" name="note_id" value="{{note.id}}">
    {% endif %}
    <input id="title" type="text" placeholder="Note Title..." name="title" {% if note %}value="{{note.title}}"{% endif %}>
    <textarea id="content" placeholder="Note..." name="content" style="font-size: 16px;">{% if note %}{{note.content}}{% endif %}</textarea>
    </form>

    <!-- Mobile Menu Toggle -->
    <div id="mobile-menu-toggle" onclick="toggleMobileMenu()">
        Open Mobile Menu
    </div>


    <!-- Mobile Menu -->
    <div id="mobile-menu">

        <h1>Menu</h1>
        <button class="btn btn-primary" onclick="toggleTitle()">Toggle Title</button>
        <button class="btn btn-secondary" onclick="increaseFontSize()">Font +</button>
        <button class="btn btn-secondary" onclick="decreaseFontSize()">Font -</button>
        <button class="btn btn-success" onclick="submitForm()">Save Note</button>
        <button class="btn btn-secondary" onclick="navigateToNotes()">Go To Homepage</button>
        <button class="btn btn-secondary" onclick="toggleMobileMenu()">Close Menu</button>
        
    </div>

    <script>

        title = document.getElementById('title');
        content = document.getElementById('content');
        noteForm = document.getElementById('note-form');
        mobileMenu = document.getElementById('mobile-menu');

        function toggleMobileMenu(){
            mobileMenu.style.display == "block" ? mobileMenu.style.display = "none" : mobileMenu.style.display = "block";
            console.log("Toggled mobile menu");
        }

        function submitForm(){
            console.log("Submitting form.");
            noteForm.submit();
        }

        function toggleTitle(){
            title.style.display == "none" ? title.style.display = "block" : title.style.display = "none";
            console.log("Toggled title");
        }

        function increaseFontSize(){
            content.style.fontSize = (parseInt(content.style.fontSize) + 1) + "px";
            console.log("Increased font size. New font size: " + (parseInt(content.style.fontSize) + 1) + "px.");
        }

        function decreaseFontSize(){
            content.style.fontSize = (parseInt(content.style.fontSize) - 1) + "px";
            console.log("Decreased font size. New font size: " + (parseInt(content.style.fontSize) - 1) + "px.");
        }

        function navigateToNotes(){
            window.location.href = "/notes/fullscreen";
        }

        document.addEventListener('keydown', e =>{
            if (e.ctrlKey && e.key == "s"){
                e.preventDefault();
                submitForm();
            }
            else if (e.ctrlKey && e.key == "l"){
                e.preventDefault();
                toggleTitle();
            }
            else if (e.ctrlKey && e.key == "ArrowUp"){
                e.preventDefault();
                increaseFontSize();
            }
            else if (e.ctrlKey && e.key == "ArrowDown"){
                e.preventDefault();
                decreaseFontSize();
            }
            else if (e.ctrlKey && e.key == "e"){
                e.preventDefault();
                navigateToNotes();
            }
        })

    </script>

</body>
</html>