{% extends "template-loggedout.html" %}
{% block body %}
<div class="p-2 p-sm-5 text-center">
    <h1>Settings</h1>

    <h2>Theme</h2>
    {% if g.user.return_settings().theme_preference == "paper" %}
    <form method="POST">
        <input class="btn btn-success" type="submit" value="Paper (selected)" disabled>
        <input name="update_to_full" class="btn btn-primary" type="submit" value="Full">
        <input name="update_to_dash" class="btn btn-primary" type="submit" value="Dash">
    </form>
    {% elif g.user.return_settings().theme_preference == "full" %}
    <form method="POST">
        <input name="update_to_paper" class="btn btn-primary" type="submit" value="Paper">
        <input class="btn btn-success" type="submit" value="Full (selected)" disabled>
        <input name="update_to_dash" class="btn btn-primary" type="submit" value="Dash">
    </form>
    {% elif g.user.return_settings().theme_preference == "dash" %}
    <form method="POST">
        <input name="update_to_paper" class="btn btn-primary" type="submit" value="Paper">
        <input name="update_to_full" class="btn btn-primary" type="submit" value="Full">
        <input class="btn btn-success" type="submit" value="Dash (selected)" disabled>
    </form>
    {% endif %}
</div>
{% endblock %}