<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flasky Notes</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/static/images/amazing_logo.png"> 
    <link rel="apple-touch-icon" href="/static/images/amazing_logo.png" sizes="180x180">
    <link rel="icon" href="/static/images/amazing_logo.png">
    
    <script src="/static/js/csrf.js"></script>
    <link rel="manifest" href="/manifest.json">
    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
      {% block body %}



      {% endblock %}
</body>

</html>
